*.DS_Store
*.exe
*.log
*.msm
*.opensdf
*.sdf
*.snk
*.suo
*.swp
*.user
*.*~
.vs/
Debug*/
Debug/
Master/packages/
obj/
Release*/
Administrator_WIN-*/
# regression test artifacts
/Master/test/Flash_Example/trunk/ACM/Flash_Example.json
/Master/test/Flash_Example/trunk/Aspen_Plus/_1241kfg.def
/Master/test/gPROMStest/input/BufferTank_FO.gENCRYPT
/Master/test/gPROMStest/sinterInput.xml
/Master/test/LongRun/ACM/AM_long/commonshellsettings.xml
/Master/test/LongRun/AP/_5512yju.def
/Master/test/models/SimpleExcelTest/test-ouputs.json
/docs/source/_build/
