*.DS_Store
*.msm
*.opensdf
*.sdf
*.snk
*.suo
*.swp
*.user
*.*~
.vs/
Debug*/
Debug/
Master/ipch/
Master/UC2/UC2_i.c
Master/UC2/UC2_i.h
Master/UC2/UC2_p.c
Master/UC2/dlldata.c
Master/packages/
Master/test/Flash_Example/trunk/ACM/AM_Flash_Example/
Master/test/LongRun/ACM/AM_long
Master/test/gPROMStest/input/
Master/test/gPROMStest/sinterInput.xml
Master/test/models/SimpleExcelTest/test-ouputs.json
Release*/
SimSinter-Build.trx
ccsi_W7-BUILD*
Administrator_WIN-*/
