<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

	<Package Name="CCSIUnits" Language="1033" Version="1.1.0.0" Manufacturer="Lawrence Livermore Laboratory" UpgradeCode="a2da4772-e988-4fa4-bc87-5f15d5c43961" InstallerVersion="405">
		

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <Feature Id="CCSIUnits" Title="CCSIUnits 1.0" Description="Unit Conversion Library for the Carbon Capture Simulation Initiative." Display="expand" Level="1" ConfigurableDirectory="DIR.BIN.CCSIUNITS" AllowAdvertise="no" InstallDefault="local">
      <ComponentGroupRef Id="CG.CCSIUnits" />
      <ComponentGroupRef Id="CG.CCSIUnitsCOM" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
	<ui:WixUI Id="WixUI_Mondo" />
	<UIRef Id="WixUI_ErrorProgressText" />
    <WixVariable Id="WixUILicenseRtf" Value="..\UC2\LICENSE.rtf" />

  </Package>
  <Fragment>
      <StandardDirectory Id="ProgramFilesFolder">
        <Directory Id="DIR.CCSI" Name="CCSI">
          <Directory Id="DIR.CCSIUnits" Name="CCSIUnits">
            <Directory Id="DIR.BIN.CCSIUNITS" />
		  </Directory>
        </Directory>
      </StandardDirectory>
    </Fragment>

  
</Wix>
