<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ConsumerUnitTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Turbine.Data.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DataIntegrationTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <connectionStrings>
	  <add name="TurbineModelContainer" connectionString="metadata=res://*/TurbineDataModel.csdl|res://*/TurbineDataModel.ssdl|res://*/TurbineDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dudley.lbl.gov;Initial Catalog=turbineTest;Persist Security Info=True;User ID=uturbinetest;Password=F@DzF@D3;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
  <userSettings>
    <ConsumerUnitTests.Properties.Settings>
      <setting name="sinterConfiguration" serializeAs="String">
        <value>..\..\..\..\AspenSinter\Flash_Example\trunk\Aspen_Plus\Flash_Example_AP.json</value>
      </setting>
      <setting name="simulationBackup" serializeAs="String">
        <value>..\..\..\..\AspenSinter\Flash_Example\trunk\Aspen_Plus\Flash_Example.bkp</value>
      </setting>
      <setting name="jsonConfiguration" serializeAs="String">
        <value>..\..\..\..\AspenSinter\Flash_Example\trunk\Aspen_Plus\Flash_Example_AP.json</value>
      </setting>
      <setting name="ACMConfiguration" serializeAs="String">
        <value>..\..\..\..\AspenSinter\Flash_Example\trunk\ACM\Flash_Example_ACM.json</value>
      </setting>
      <setting name="ACMFilename" serializeAs="String">
        <value>Flash_Example_ACM.json</value>
      </setting>
      <setting name="APFilename" serializeAs="String">
        <value>Flash_Example_AP.json</value>
      </setting>
      <setting name="ACMDir" serializeAs="String">
        <value>..\..\..\..\AspenSinter\Flash_Example\trunk\ACM</value>
      </setting>
      <setting name="APDir" serializeAs="String">
        <value>..\..\..\..\AspenSinter\Flash_Example\trunk\Aspen_Plus\</value>
      </setting>
    </ConsumerUnitTests.Properties.Settings>

  </userSettings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="XContext" type="Turbine.Data.Test.AppTestContext, DataIntegrationTests" />
    <alias alias="IContext" type="Turbine.Consumer.Contract.Behaviors.IContext, Turbine.Consumer.Contract.Behaviors" />
    <container name="producer">
      <register type="IContext" mapTo="XContext" />
    </container>
  </unity>
</configuration>