<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SinterRegressionTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SinterRegressionTests.Properties.Settings>
            <setting name="UnitsWorkingDir" serializeAs="String">
                <value>..\..\UnitsTest\</value>
            </setting>
            <setting name="ACMFilename" serializeAs="String">
                <value>Flash_Example_ACM.json</value>
            </setting>
            <setting name="APFilename" serializeAs="String">
                <value>Flash_Example_AP.json</value>
            </setting>
            <setting name="LongACMFilename" serializeAs="String">
                <value>long.json</value>
            </setting>
            <setting name="LongAPFilename" serializeAs="String">
                <value>long.json</value>
            </setting>
            <setting name="DynamicACMFilename" serializeAs="String">
                <value>BFB.json</value>
            </setting>
            <setting name="DynamicACMInputs" serializeAs="String">
                <value>Inputs_1.json</value>
            </setting>
            <setting name="DynamicACMInputs_2" serializeAs="String">
                <value>Inputs_2.json</value>
            </setting>
            <setting name="ExcelSinterJson" serializeAs="String">
                <value>..\..\..\..\test\models\SimpleExcelTest\exceltest-sinter.json</value>
            </setting>
            <setting name="ExcelSinterDefaults" serializeAs="String">
                <value>..\..\..\..\test\models\SimpleExcelTest\exceltest-defaults.json</value>
            </setting>
            <setting name="ExcelSinterInputs" serializeAs="String">
                <value>..\..\..\..\test\models\SimpleExcelTest\exceltest-inputs.json</value>
            </setting>
            <setting name="ExcelSinterOutputs" serializeAs="String">
                <value>..\..\..\..\test\models\SimpleExcelTest\test-ouputs.json</value>
            </setting>
            <setting name="ExcelSinterCanonicalOutputs" serializeAs="String">
                <value>..\..\..\..\test\models\SimpleExcelTest\outputs-canonical.json</value>
            </setting>
            <setting name="UnitsTestSinter" serializeAs="String">
                <value>..\..\..\..\test\UnitsTest\unitstest-sinter.json</value>
            </setting>
            <setting name="UnitsTestInputs" serializeAs="String">
                <value>..\..\..\..\test\UnitsTest\unitstest-inputs.json</value>
            </setting>
            <setting name="FlashACMConfig" serializeAs="String">
                <value>..\..\..\..\test\Flash_Example\trunk\ACM\Flash_Example_ACM.json</value>
            </setting>
            <setting name="FlashAPConfig" serializeAs="String">
                <value>..\..\..\..\test\Flash_Example\trunk\Aspen_Plus\Flash_Example_AP.json</value>
            </setting>
            <setting name="sinterConfiguration" serializeAs="String">
                <value>..\..\..\..\test\Flash_Example\trunk\Aspen_Plus\Flash_Example_AP.json</value>
            </setting>
            <setting name="simulationBackup" serializeAs="String">
                <value>..\..\..\..\test\Flash_Example\trunk\Aspen_Plus\Flash_Example.bkp</value>
            </setting>
            <setting name="jsonConfiguration" serializeAs="String">
                <value>..\..\..\..\test\Flash_Example\trunk\Aspen_Plus\Flash_Example_AP.json</value>
            </setting>
            <setting name="ACMConfiguration" serializeAs="String">
                <value>..\..\..\..\test\Flash_Example\trunk\ACM\Flash_Example_ACM.json</value>
            </setting>
            <setting name="ACMDir" serializeAs="String">
                <value>..\..\..\..\test\Flash_Example\trunk\ACM</value>
            </setting>
            <setting name="APDir" serializeAs="String">
                <value>..\..\..\..\test\Flash_Example\trunk\Aspen_Plus\</value>
            </setting>
            <setting name="ExcelWorksheet" serializeAs="String">
                <value>..\..\..\..\SinterExcelTest\models\SimpleExcelTest\exceltest.xlsm</value>
            </setting>
            <setting name="LongACMConfig" serializeAs="String">
                <value>..\..\..\..\test\LongRun\ACM\long.json</value>
            </setting>
            <setting name="LongACMDir" serializeAs="String">
                <value>..\..\..\SimSinter\Master\test\LongRun\ACM\</value>
            </setting>
            <setting name="LongAPConfig" serializeAs="String">
                <value>..\..\..\..\test\LongRun\AP\long.json</value>
            </setting>
            <setting name="LongAPDir" serializeAs="String">
                <value>..\..\..\..\test\LongRun\AP</value>
            </setting>
            <setting name="DynamicACMDir" serializeAs="String">
                <value>..\..\..\..\test\DynamicTest</value>
            </setting>
        </SinterRegressionTests.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
